* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
}

.container-fuild {
	width: 100%;
}

.container {
	width: 68%;
	margin-left: 15%;
	margin-right: 15%;
}

.row {
	display: flex;
	justify-content: space-around;
}
